__tests__/
lib/
node_modules/

*.ts
!dist/**/*.d.ts         # allow type declarations
tsconfig*.json
rollup.config.ts
jest.config.ts
.eslintrc
*.test.*
.vscode/
.nyc_output/
coverage/
.env*
.prettierrc

*.log
